{% extends "base.twig" %}

{% block content %}

<section class="section pt-10 pb-16 md:pb-28 lg:pb-36">
    <div class="container">
        <article class="mx-auto mb-20">
            <p class="font-light text-base md:text-lg lg:text-xl xl:text-2xl text-center mb-10">Are you ready for the next evolution of your healthcare career?</p>
            <h1 class="text-center mb-10">Learn the basics of Case Management and accelerate your transition into the role of Case Manager</h1>
            <p class="text-center">With the Sanders & Associates<br/>
                <span class="font-semibold text-xl md:text-2xl lg:text-3xl xl:text-4xl text-cerulean">3-day Case Management Bootcamp</span>
            </p>
            <p class="text-center font-bold">10:00am to 4:30pm,<br/>Eastern Time, April 22-24</p>
        </article>
        <a class="button mx-auto" href="https://buy.stripe.com/00g02rgNv3xg9iw6oo" target="_blank">Register Now</a>
    </div>
</section>

<!-- <section class="relative">
    <img class="object-fit w-2/3 h-auto rounded-md shadow-2xl mx-auto" src="{{ Image(9).src }}" alt="">
    <div class="absolute inset-x-0 -bottom-7 lg:-bottom-8 xl:-bottom-10 flex justify-center items-center">
        <div class="inline-flex justify-center items-center w-14 h-14 lg:w-16 lg:h-16 xl:w-20 xl:h-20 bg-white border-2 border-solid border-athens shadow-xl rounded-full">
            <img src="{{ Image(18).src }}" class="w-1/3 h-auto" alt="">
        </div>
    </div>
</section> -->

<section>
    <div class="container w-2/3">
        <div class="relative rounded-md shadow-2xl mx-auto overflow-hidden" style="padding-bottom:56.25%;">
            <iframe src="https://player.vimeo.com/video/684983878/" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;display:block;"></iframe>
        </div>
    </div>
</section>

<section class="section py-20 md:py-32 lg:py-40">
    <div class="container">
        <article class="mx-auto mb-20">
            <h2 class="text-center mb-10">Are you a nurse or other healthcare provider who's ready to <span class="blue">move off the rotation</span> and away from the bedside?</h2>
            <p>I get it.</p>
            <p>You started working in health care to make a difference, but now you feel like you're burning out.</p>
            <p>What if you could...</p>
            <ul>
                <li>Take control of your patients' health care from intake to discharge and beyond?</li>
                <li>Work more consistent hours, so you could be sure you'd be present for the important parts of your own life?</li>
                <li>Say "goodbye" to the monotony of your average grueling workday, and "hello!" to a variety of roles that are always engaging?</li>
                <li>Make more money helping more people in a time when so many others are just walking away?</li>
            </ul>
            <p>It's not impossible. It's Case Management. And in this 3-day online program, it can become your next career reality.</p>
        </article>
        <a class="button mx-auto" href="https://buy.stripe.com/00g02rgNv3xg9iw6oo" target="_blank">Register Now</a>
    </div>
</section>

<section class="relative">
    <img class="object-fit w-2/3 h-auto rounded-md shadow-2xl mx-auto" src="{{ Image(11).src }}" alt="">
    <div class="absolute inset-x-0 -bottom-7 lg:-bottom-8 xl:-bottom-10 flex justify-center items-center">
        <div class="inline-flex justify-center items-center w-14 h-14 lg:w-16 lg:h-16 xl:w-20 xl:h-20 bg-white border-2 border-solid border-athens shadow-xl rounded-full">
            <img src="{{ Image(18).src }}" class="w-1/3 h-auto" alt="">
        </div>
    </div>
</section>

<section class="section relative pt-20 md:pt-32 lg:pt-40 pb-10 md:pb-16 lg:pb-20">
    <div class="container">
        <article class="mx-auto mb-20">
            <h2 class="text-center mb-10">Hi, <span class="blue">I'm Pauline Sanders,</span> president of Sanders & Associates</h2>
            <p>For the last 25+ years, I've been helping people manage their health care, from intake and diagnostics all the way to discharge and beyond.</p>
            <p>Even though I started my career as an RN, I am passionate about education, both in patient care and in coaching and teaching the next generation of health care providers.</p>
            <p>Now I'm excited to help you transition into the case management experience with a focus on organizational goals and the patients' well being, in my 3-day Case Management Bootcamp.</p>
            <p>Over the course of this training program you will learn:</p>
            <ul>
                <li>The basics of case management, including appointment scheduling, care team coordination, and patient education.</li>
                <li>How to analyze each situation to ensure quality patient care at the most cost effective treatment level.</li>
                <li>The secrest to making hiring managers fight over you…from writing the perfect resume through acing the interview.</li>
                <li>How increasing opportunities leave plenty of options for nurses to transition into this next phase of their career.</li>
            </ul>
            <p>This Bootcamp is a continuing education platform designed for nurses, social workers, and other healthcare professionals to expand and enhance their knowledge and clinical skills in health care case management.</p>
        </article>
        <a class="button mx-auto" href="https://buy.stripe.com/00g02rgNv3xg9iw6oo" target="_blank">Register Now</a>
    </div>
</section>

<section class="section py-5 md:py-8 lg:py-10">
    <div class="container">
        <div class="relative py-10 md:py-20 lg:py-28 bg-athens">
            <article class="mx-auto mb-20">
                <h2 class="text-center mb-10">The <span class="blue">Sanders & Associates Bootcamp</span> includes...</h2>
                <ul>
                    <li>Case studies with real-life patients, so you can hit the ground running in your new role.</li>
                    <li>Resume outline and review, plus coaching and practice so you ace your interview.</li>
                    <li>Certificate of Completion with 18 Continuing Education Units.</li>
                    <li>Personal support from the coaches and your peers.</li>
                </ul>
                <p>PLUS if for any reason you don't feel like you've gotten everything you need from the course, you can repeat the <strong>entire</strong> bootcamp once, within the 12 months following the course, for FREE.</p>
            </article>
            <a class="button mx-auto" href="https://buy.stripe.com/00g02rgNv3xg9iw6oo" target="_blank">Register Now</a>
            <div class="absolute inset-x-0 -bottom-7 lg:-bottom-8 xl:-bottom-10 flex justify-center items-center">
                <div class="inline-flex justify-center items-center w-14 h-14 lg:w-16 lg:h-16 xl:w-20 xl:h-20 bg-white border-2 border-solid border-athens shadow-xl rounded-full">
                    <img src="{{ Image(18).src }}" class="w-1/3 h-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 md:py-8 lg:py-10">
    <div class="container">
        <article class="mx-auto mb-20">
            <h2 class="text-center">Frequently-asked questions</h2>
        </article>
        <div class="w-5/6 mx-auto cursor-pointer" x-data="{ open:false }" @click="open = ! open">
            <div class="pb-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>How long does the Bootcamp take?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl">This Bootcamp is a three-day online course. We will meet from 10:00am to 4:30pm, Eastern Time, April 22-24. There will be a break for lunch on each day.</p>
            </div>
        </div>

        <div class="w-5/6 mx-auto cursor-pointer" x-data="{ open:false }" @click="open = ! open">
            <div class="py-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>How will the materials be delivered?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl mb-5">Since this is an online course, we'll be delivering the course, Certificate, and Coaching digitally through a combination of email and Zoom.</p>
                <p class="text-slate-400 text-lg md:text-xl mb-5">You will also receive a set of information materials and a course book. These will be mailed to you before the course.</p>
                <p class="text-slate-400 text-lg md:text-xl">As soon as you register you'll receive an email with further directions, including directions for attending the course.</p>
            </div>
        </div>

        <div class="w-5/6 mx-auto cursor-pointer" x-data="{ open:false }" @click="open = ! open">
            <div class="py-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>What's my investment for the course?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl">In terms of time your investment will be three days. The cost of the course is $597.</p>
            </div>
        </div>

        <div class="w-5/6 mx-auto cursor-pointer" x-data="{ open:false }" @click="open = ! open">
            <div class="py-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>Will I get Continuing Education Credits for this course?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl">Yes! You'll receive a Certificate of Completion with 18 Continuing Education Units.</p>
            </div>
        </div>

        <div class="w-5/6 mx-auto cursor-pointer" x-data="{ open:false }" @click="open = ! open">
            <div class="py-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>What kind of guarantee do you offer?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl mb-5">I know that this information works.</p>
                <p class="text-slate-400 text-lg md:text-xl mb-5">If you follow the materials laid out in the course, and apply the learning from the resume and interview sections, I am confident that you will be able to start the next evolution of your health care career as a case manager.</p>
                <p class="text-slate-400 text-lg md:text-xl mb-5">But I understand that things happen, and you may not be able to apply all the learnings, or you may not be able to absorb all the materials on the first try.</p>
                <p class="text-slate-400 text-lg md:text-xl mb-5">So, if for any reason you don’t feel like you’ve gotten everything you need from the course, you can repeat the Entire bootcamp once, within the 12 months following the course, for FREE.</p>
            </div>
        </div>

        <div class="w-5/6 mx-auto cursor-pointer mb-20" x-data="{ open:false }" @click="open = ! open">
            <div class="py-5 flex justify-between items-center border-b-2 border-solid border-athens">
                <h3>Exactly what's included for me?</h3>
                <div class="flex justify-center items-center w-8 h-8">
                    <img class="w-3/5 h-auto" src="{{ Image(12).src }}" alt="">
                </div>
            </div>
            <div class="p-5 md:p-10" x-show="open" x-transition @click.outside="open = false">
                <p class="text-slate-400 text-lg md:text-xl mb-5">The Bootcamp consists of five modules providing both an overview of case management plus more detailed aspects including: hospital management, case management workloads, time management, regulations, payer sources, medical necessity screening, health care reform, care coordination, care transitions, and medical homes.</p>
                <p class="text-slate-400 text-lg md:text-xl">You'll also receive a Certificate of Completion, 18 Continuing Education Credits, and all the materials needed to complete the course. </p>
            </div>
        </div>

        <a class="button mx-auto" href="https://buy.stripe.com/00g02rgNv3xg9iw6oo" target="_blank">Register Now</a>

    </div>
</section>

<section class="section pt-5 md:pt-8 lg:pt-10">
    <div class="container">
        <div class="p-10 md:p-20 grid md:gap-40 grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-2 bg-athens">
            <div>
                <p class="font-bold text-xl md:text-2xl lg:text-3xl">Have a question that wasn't answered? I'd love to answer it for you.</p>
            </div>
            <div class="flex flex-col justify-start items-start">
                <p class="text-lg font-bold">Pauline Sanders, RN, CPHRM, LNCC, CCM</p>
                <p class="mb-5">President of Sanders & Associates</p>
                <a class="mail-link text-slate-400 transition-colors hover:text-jungle" href="mailto:pauline@casemanagementbootcamp.com">pauline@casemanagementbootcamp.com</a>
                <a class="phone-link text-slate-400 ransition-colors hover:text-jungle" href="tel:7704857353">(770) 485-7353</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}



